* {
  box-sizing: border-box;
}

/* :root{
  Establish variables here
} */

.div-padding {
  padding: 0.5rem;
}
.div-padding-small {
    padding: 1px;
}

.navbar-section-holds-everything {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: space-between;
  align-items: center;
  /* margin: 1.5rem; */
  background-color: #212227;
  padding: 1rem;
}

.logo-navbar {
  width: 25%;
  height: auto;
}

.navbar-section-img {
  align-items: center;
}

.navbar-section-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loggedin-or-not-navbar {
  display: flex;
  padding: 1rem;
}

.navbar-button {
  color: rgb(255, 255, 255);
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.1em;
  border: none;
  text-decoration: none;
}

.navbar-button:hover {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.cart-navbar-icon{
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.navbar-categories {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  align-items: flex-start;
  background-color: #F9ECCC;
  /* width: 90%; */
}

.option-for-1{
    display: flex;
    flex-direction: column;
}
.subcategory-button-on-hover{
    background-color: transparent;
    cursor: pointer;
}

.on-hover-show-options{
    display: none;
    top: 0;
}

.category-options-navbar {
  text-decoration: none;
  color: black;
  margin: auto;
  /* border: 2px solid black; */
  padding: .5rem;
  cursor: pointer;
}

.category-options-navbar:hover{
  font-weight: 700;
}

.dropdown-link{
  text-decoration: none;
  color: black;
  border: none;
}

.category-options-navbar:hover + .on-hover-show-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.on-hover-show-options:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

/* .category-options-navbar:focus{
    border-bottom: 2px solid black;
} */


@media screen and (max-width: 900px) {
  .logo-navbar{
    width: 35%;
  }
}

@media screen and (max-width: 700px) {
  .logo-navbar{
    width: 45%;
  }
}

@media screen and (max-width: 530px) {
  .logo-navbar{
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .logo-navbar{
    width: 70%;
  }
}
@media screen and (max-width: 470px) {
  .logo-navbar{
    width: 85%;
  }
}

@media screen and (max-width: 450px) {
  .navbar-section-holds-everything{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 350px) {
  .div-padding{
    padding: 0;
  }
  .loggedin-or-not-navbar{
    padding: .5rem;
  }
}