

.header-center-lesson{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-weight: 700;
}

.category-card-lessonss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}