.h {
    /* height: 50vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: #7B6D8D; */
}

.h-row {
    display: flex;
    flex-direction: row;
    padding: 4rem;
}

.h-left {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-p {
    width: 40rem;
    padding: 2rem;
    text-align: center;
}

.h-right {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img {
    background:url(../../assets/bg_coding.jpg);
    animation: chbg 15s infinite alternate;
    object-fit: contain;
    width: 40vw;
    height: 35vh;
    overflow: hidden;
    border-radius: 2rem;
}

  @keyframes chbg {
    0% {
      background:url(../../assets/bg_cooking.jpg);
    background-size: cover;
    }
    50% {
      background:url(../../assets/bg_gaming.jpg);
    background-size: cover;
    }
    100% {
      background:url(../../assets/bg_workout.jpg);
    background-size:cover
    }
    /* 60% {
      background:url(http://lorempixel.com/100/100/people/2);
    background-size:cover
    }
    80% {
      background:url(http://lorempixel.com/100/100/people/9);
    background-size:cover
    }
    100% {
      background:url(http://lorempixel.com/100/100/people/8);
    background-size:cover
    } */
  }

/* .h-across {
    display: block;
    align-items: center;
    flex-direction: column;
}

.h-across-wrapper {
    flex: 1;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.h-title-wrapper {
    height: 50px;
    animation: move 10s ease-in-out infinite alternate;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
}

.h-cats {
    width: 75%;
    height: 25vh;
    display: flex;
    align-items: center;
    padding: 4rem;
    margin: 4rem;
    /* background-color: #7B6D8D; */
}

.h-cats-across {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.category-cube {
    flex-direction: column;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    background-color: #212227;
    overflow: hidden;
    object-fit: cover;
}

.cat-img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: cover;
    opacity: 1;
}

.signup-area a {
    text-decoration: none;
    color: #212227;
}