.buttonColor{
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.1em;
    border: none;
    text-decoration: none;
}

.buttonColor:hover {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

#lessonDescription{
    resize: none;
}

#priceInput{
    width: 60%
}

.modal-body{
    display: flex;
    justify-content: center;
}

#modal-header{
text-align: center;
padding-top: 1rem;
}