.top-level-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.main-containerz{
    width: 80%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutText{
    margin: 1rem;
    text-align: center;
}

.about-linkz img {
    width: 80px;
    height: auto;

}

.about-linkz a {
    text-decoration: none;
    font-weight: 700;
    color: #ab4ec7;
}

.aboutMe-img {
    width: 60%;
    border-radius: 25%;
}

.aboutNames {
    font-weight: 300;
    padding-top: 2rem;
}

.aboutDescriptions {
    padding-top: 1rem;
}

#pics{
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 844px) {
    .aboutMe-img{
        width: 40%;
    }
    .row{
        width: 100%;
        flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .aboutMe-img{
        width: 80%;
    }
  }